# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\00_sem3\testowanie\laboratorium-6-whoisjackob\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
